<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf3Q_nSJQ_spgWhkGqVpmc8faz7oWyzcE</string>
	<key>GCM_SENDER_ID</key>
	<string>479290647178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryozo.ohyeahapp</string>
	<key>PROJECT_ID</key>
	<string>oh-yeah-official</string>
	<key>STORAGE_BUCKET</key>
	<string>oh-yeah-official.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479290647178:ios:914fdd5013a81f1e214373</string>
</dict>
</plist>